.bannerParentDiv .bannerChildDiv .menuBar {
  padding: 10px 16px;
  background-color: #141414;
  color: white;
  position: sticky;

  z-index: 998;
  top: 80px;
}

.bannerCategory {
  transition: font-weight 0.2s ease-in-out;
}
.bannerCategory:hover {
  font-weight: 700;
  /* text-decoration: underline; */
}
.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
}

.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
  padding: 10px;
}

.bannerChildDiv .banner {
  position: relative;
  margin-top: 16px;
  width: 100vw;
}
.bannerChildDiv .banner img {
  width: 100vw;
}

@media only screen and (max-width: 700px) {
  .otherQuickOptions {
    display: none;
  }
  .bannerChildDiv .banner {
    position: relative;
  }
}

.otherQuickOptions span {
  cursor: pointer;
}
.otherQuickOptions {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
